<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pyrrha.Scripting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pyrrha.Scripting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Pyrrha.Scripting.Properties.Settings>
            <setting name="PYRRHA_DEFAULT_TEMP_FILES_PATH" serializeAs="String">
                <value />
            </setting>
        </Pyrrha.Scripting.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Pyrrha.Scripting.Properties.Settings>
            <setting name="AUTOCAD_INSTALL_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="PYRRHA_INSTALL_PATH" serializeAs="String">
                <value />
            </setting>
        </Pyrrha.Scripting.Properties.Settings>
    </applicationSettings>
</configuration>